name: CI workflow

on:
  pull_request:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build_and_test_iOS:
    name: Build and Test project on iOS
    runs-on: [ self-hosted, iOS ]

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build
        run: xcodebuild -scheme InfomaniakLogin build -destination "platform=iOS Simulator,name=iPhone 17 Pro,OS=latest"
      - name: Test
        run: xcodebuild -scheme InfomaniakLogin test -destination "platform=iOS Simulator,name=iPhone 17 Pro,OS=latest"

  build_and_test_macOS:
    name: Build and Test project on macOS
    runs-on: [ self-hosted, macOS ]

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build
        run: swift build
      - name: Test
        run: swift test
